/* layout styles */

body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 12vh;
    width: 100vw;
    background: lightcyan;
}

main {
    height: 88vh;
    width: 100vw;
    background: gray;
}

section {
    height: 70vh;
    width: 100vw;
    background: lightcoral;
}

footer {
    height: 35vh;
    width: 100vw;
    background: lightskyblue;
}


/* layout styles */