/* layout styles */
.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}
.nav > .container > .logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 2rem;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 12vh;
    width: 100vw;
    background: lightcyan;
}

main {
    height: 88vh;
    width: 100vw;
    background: gray;
}

section {
    height: 70vh;
    width: 100vw;
    background: lightcoral;
}

footer {
    height: 35vh;
    width: 100vw;
    background: lightskyblue;
}


/* layout styles */

/* main section styles */

.main-wrapper {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    width: 95vw;
    height: 200px;
    background: blue;
}

.bottom-section-wrapper {
    width: 95vw;
    height: 448px;
    background: yellow;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-container {
    background: green;
}

.video-container {
    background: red;
}

/* main section styles */
